

body {
    background-color: #d8dadb;
    padding: 50px;
}

/* *********** Archivos del formulario de registro ***********/
.container {
    max-width: 70%;
    margin: auto;
    background-color: #ada6a6;
    padding: 10%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-container {
    background-image: url('../../images/59892.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;
    padding: 30px;  */
}



.form-label {
    font-weight: bold;
}

